.about_wrapper {
    width: 100%;
    max-width: 119.375rem;
    padding-left: calc(22*var(--space));
    padding-right: calc(22*var(--space));
    margin-block: 7.5rem;
    position: relative;
    min-height: 100%;
}

.about_container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding: 5rem 0;
    grid-gap: 0;
    gap: 0;
}

.about_img_section {
    position: relative;
    align-items: flex-end;
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 3rem;
    min-height: 39rem;
}

.about_title {
    z-index: 1;
    color: #fff;
    grid-column: span 8;
    font: 700 6.5rem/7rem var(--exo);
}

.about_vid_wrapper {
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 0;
    height: 100%;
    width: calc(100% + 5rem);
    left: -5rem;
    border-top: .0625rem solid #99aed1;
    border-right: .0625rem solid #99aed1;
    border-top-right-radius: 6rem;
}

.about_vid_container {
    height: calc(100% + 12.5rem);
    overflow: hidden;
    width: calc(100% + 2rem);
}

.about_vid_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_vid_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #00235d;
    opacity: .4;
}

.about_text_section {
    position: relative;
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 3rem;
    padding-bottom: 5.5rem;
    border-bottom-right-radius: 6rem;
    border-bottom: .0625rem solid #99aed1;
    border-right: .0625rem solid #99aed1;
    grid-gap: 0;
    gap: 0;
}

.about_text_section::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -.0625rem;
    right: 6rem;
    width: 100vw;
    height: .0625rem;
    border-bottom: .0625rem solid #99aed1;
}

.about_text_section::after {
    background-color: #00112e;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.about_text {
    position: relative;
    z-index: 1;
    color: #fff;
    grid-column: span 8;
    font: var(--font-heading-2-regular);
}

.about_text::before {
    background: linear-gradient(180deg, rgba(0, 17, 46, .72), hsla(0, 0%, 85%, 0));
    content: "";
    position: absolute;
    display: block;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 15.5rem;
    z-index: 1;
}

.about_info_section {
    position: relative;
    margin-top: -.0625rem;
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 5rem;
    padding-bottom: 7rem;
}

.about_info_section::after {
    background-color: #00112e;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
    border-bottom-left-radius: 6rem;
}

.about_info_content {
    color: #fff;
    grid-column: 5/span 7;
}

.about_info_content>p:first-of-type {
    margin-bottom: 3rem;
    font: var(--font-lead-small);
}

/* Media Queries */

@media (max-width: 768px) {

    .about_wrapper {
        margin-block: 2.5rem;
    }

    .about_wrapper .about_container {
        grid-template-columns: repeat(4, 1fr);
        padding: 2.5rem 0;
    }

    .about_wrapper .about_container .about_img_section {
        grid-column: span 4;
        grid-template-columns: repeat(4, 1fr);
        min-height: 26.25rem;
        display: flex;
        align-items: flex-end;
        padding-bottom: 1.5rem;
    }

    .about_img_section .about_title {
        grid-column: span 4;
        font: var(--font-heading-2-regular);
        font-weight: 700;
        font-size: 48px;
        grid-row: 1;
    }

    .about_wrapper .about_container .about_text_section {
        grid-row: 2;
        grid-column: span 4;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 0;
    }

    .about_text_section .about_text {
        grid-column: span 4;
        font-size: 48px;
    }

    .about_wrapper .about_container .about_info_section {
        grid-row: 3;
        grid-column: span 4;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 2.5rem;
        padding-bottom: 4rem;
        font-size: 18px;
    }

    .about_wrapper .about_container .about_info_section::after {
        border-bottom-left-radius: 2.5rem;
    }
}