.block1_wrapper {
    width: 100%;
    max-width: 119.375rem;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    padding-left: calc(22*var(--space));
    padding-right: calc(22*var(--space));
    margin-block: 7.5rem;
    overflow: hidden;
}

.block1_container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    margin: 5rem 0;
}

.block1_content_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    align-self: center;
    grid-row: 1;
    grid-column: 2/span 5;
}

.block1_title {
    font: var(--font-heading-3);
    color: #00235d;
}

.block1_title.gold{
    color: #ffd36a;
}

.block1_info {
    margin-bottom: 1.5rem;
    color: #00112e;
    font: var(--font-lead-small);
}

.block1_info.gold{
    color: #ffd36a;
}

.block1_image_wrapper {
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 512px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: unset;
    border-top-left-radius: 6rem;
    grid-column: 8/span 5;
    transition: all 0.3s ease-out;
}

.block1_image_wrapper.gold {
    background-color: #2c2713;
}

.block1_image_container {
    height: 100%;
    aspect-ratio: 968/847;
    width: 100%;
    min-height: 528px;
}

.block1_image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: visible;
    width: 125%;
    aspect-ratio: 968/847;
    height: auto;
}

.block1_image img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

.block1_image.gold{
    position: absolute;
}

.block1_image img.active {
    opacity: 1;
    left: -9%;
}

/* Media Queries */

@media (max-width: 1141px) {

    .block1_content_container {
        grid-column: 1/span 5;
    }

    .block1_image_container {
        min-height: auto;
    }
}

@media (max-width: 768px) {
    .block1_wrapper {
        margin-block: 7.5rem;
    }

    .block1_wrapper .block1_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 2.5rem 0;
        grid-gap: 2.5rem;
        gap: 2.5rem;
    }

    .block1_container .block1_content_container {
        grid-column: span 4;
        grid-row: 2;
    }

    .block1_container .block1_image_wrapper {
        grid-column: span 4;
        border-top-left-radius: 2.5rem;
        max-width: none;
    }
}