.contact_wrapper {
    position: relative;
    overflow: hidden;
}

.contact_image_wrapper {
    height: 100%;
    border-top-right-radius: 6rem;
    overflow: hidden;
    aspect-ratio: 744/576;
    max-height: 100%;
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact_image_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 35, 93, .6), rgba(0, 35, 93, .06));
}

.contact_image_wrapper.gold::before {
    opacity: .6;
    background: linear-gradient(135deg, #1f1c16, rgba(31, 28, 22, .024));
}

.contact_image_container {
    height: calc(100% + 12.5rem);
    transition: all 0.3s ease-out;
}

.contact_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contact_text_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    min-height: 36rem;
}

.contact_lightcontent {
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    position: absolute;
}

.contact_text_container {
    max-width: 119.375rem;
    margin: 0 auto;
    position: relative;
    padding-left: calc(22*var(--space));
    padding-right: calc(22*var(--space));
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0;
    gap: 0;
}

.contact_intro_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0;
    grid-column: 5/span 8;
    margin-top: 11.25rem;
}

.contact_title {
    text-transform: capitalize;
    display: flex;
    gap: 2.5rem;
    text-align: start;
    width: max-content;
    max-width: 85vw;
    align-items: center;
    background: linear-gradient(to right, white var(--whitePercentContact), #00358d var(--whitePercentContact));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.contact_title.gold{
    background: linear-gradient(to right, #e8e3d6  var(--whitePercentContact), #ceaa53 var(--whitePercentContact));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.contact_title p {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1rem;
    font: var(--font-heading-1-regular);
}

.contact_title .button {
    border: none;
}

.contact_title .button .arrow {
    height: 3.5rem;
    width: 3.5rem;
}

.contact_title .button .arrow i {
    height: 1.5rem;
    width: 1.5rem;
}

.contact_title .button:hover .arrow {
    transform: translateX(.5rem);
}

.contact_info {
    color: #00112e;
    font: var(--font-lead-small);
    text-align: start;
    margin-left: 50%;
}

.contact_info.gold {
    color: #f8ebcb;
}

.x {
    width: 100vw;
    height: 271px;
    background-color: #00358d;
}

.x.gold{
    background-color: #ceaa53;
}

/* Media Queries */


@media (max-width: 1141px) {

    .contact_text_container .contact_intro_wrapper {
        grid-column: 3/span 8;
    }

    .contact_intro_wrapper .contact_info {
        margin-left: 56%;
    }

    .contact_intro_wrapper .contact_title {
        background: linear-gradient(to right, white calc(var(--whitePercentContact) * 2), #00358d calc(var(--whitePercentContact) * 2));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .contact_intro_wrapper .contact_title.gold{
        background: linear-gradient(to right, #e8e3d6 calc(var(--whitePercentContact) * 2), #ceaa53 calc(var(--whitePercentContact) * 2));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

@media (max-width: 900px) {
    .contact_wrapper {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .contact_wrapper .contact_image_wrapper {
        max-height: 25rem;
        width: calc(100% - 4*var(--space));
        grid-row: 1;
    }

    .contact_wrapper .contact_text_wrapper {
        min-height: 20rem;
        grid-row: 2;
        margin-top: 2rem;
    }

    .contact_lightcontent .contact_text_container {
        grid-template-columns: repeat(4, 1fr);
    }

    .contact_lightcontent .contact_text_container .contact_intro_wrapper {
        grid-column: span 4;
        margin-top: 1.5rem;
        gap: 1rem;
    }

    .contact_text_container .contact_intro_wrapper .contact_title p {
        font-size: 56px;
    }

    .contact_text_container .contact_intro_wrapper .contact_info {
        margin-left: 0;
    }
}