* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: #f6faff;
    min-height: 100%;
    height: auto;
    scroll-behavior: auto;
    color: #00112e;
}

:root {
    --exo: "Exo", sans-serif;
    --exo-fallback: sans-serif;
    --schibsted-grotesk: "Schibsted Grotesk", sans-serif;
    --font-body-normal: 400 1rem/2rem var(--schibsted-grotesk);
    --font-body-small: 400 0.875rem/1.5rem var(--schibsted-grotesk);
    --font-caption-large: 600 1rem/2rem var(--schibsted-grotesk);
    --font-caption-small: 500 0.75rem/1.5rem var(--schibsted-grotesk);
    --font-heading-1-italic: italic 700 6.5rem/7rem var(--exo), var(--exo-fallback);
    --font-heading-1-regular: 700 6.5rem/7rem var(--exo), var(--exo-fallback);
    --font-heading-2-italic: italic 500 4.5rem/5rem var(--exo), var(--exo-fallback);
    --font-heading-2-regular: 500 4.5rem/5rem var(--exo), var(--exo-fallback);
    --font-heading-3: 500 3.5rem/4rem var(--exo), var(--exo-fallback);
    --font-heading-4: 600 2.5rem/3rem var(--exo), var(--exo-fallback);
    --font-heading-5: 700 2rem/2.5rem var(--exo), var(--exo-fallback);
    --font-heading-5-semibold: 600 2rem/2.5rem var(--exo), var(--exo-fallback);
    --font-heading-6: 700 1.5rem/2rem var(--schibsted-grotesk);
    --font-heading-6-regular: 400 1.5rem/2rem var(--schibsted-grotesk);
    --font-hero-italic: italic 700 8.5rem/7.5rem var(--exo), var(--exo-fallback);
    --font-hero-regular: 700 8.5rem/7.5rem var(--exo), var(--exo-fallback);
    --font-label-large: 600 1rem/2rem var(--schibsted-grotesk);
    --font-label-large-bold: 700 1rem/2rem var(--schibsted-grotesk);
    --font-label-small: 700 0.75rem/1rem var(--schibsted-grotesk);
    --font-lead-large: 400 2rem/3rem var(--schibsted-grotesk);
    --font-lead-small: 400 1.25rem/2rem var(--schibsted-grotesk);
    --space: 4px;
}

.navbar_wrapper {
    height: 7.5rem;
    width: 100vw;
    z-index: 100;
    position: fixed;
    background-color: #f6faff;
    transition: transform 0.3s ease-in-out;
}

.hidden {
    transform: translateY(-100%);
}

.secondary {
    display: flex;
    margin-bottom: 0;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgba(204, 214, 232, .141);
    flex-direction: row;
    gap: 1rem;
    padding: .25rem calc(22*var(--space));
}

.nav_secondary {
    font: var(--font-caption-small);
    line-height: 1rem;
    margin: .25rem 0;
    color: #335da3;
    padding: 0 1.0625rem 0 0;
    text-transform: uppercase;
    border-right: .0625rem solid #ccd6e8;
}

.nav_secondary:nth-of-type(3) {
    padding: 0;
    border: none;
}

.primary {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    padding: calc(6*var(--space)) calc(22*var(--space)) calc(6*var(--space)) calc(22*var(--space));
    width: 100vw;
}

.logo_container {
    max-height: 2rem;
    z-index: 9999;
    margin-top: 0;
    max-width: 2.5rem;
}

.logo {
    height: 2.5rem;
}

.logo_grey {
    color: #9faeb5;
}

.logo_blue {
    color: #00358d;
}

.nav_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    gap: 2rem;
}

.nav_header {
    position: relative;
    display: block;
    font: var(--font-label-large-bold);
}

.nav_header:hover {
    color: rgb(0, 53, 141);
    cursor: pointer;
}

.nav_header::after {
    content: "";
    background-image: url("../Images/vector6.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1.5rem;
    width: 1.5rem;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    transition: all 0.7s ease;
    opacity: 0;
}

.nav_header:hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
}

.hamburger {
    position: absolute;
    right: calc(22*var(--space));
    display: flex;
    align-self: center;
    margin-left: auto;
    cursor: pointer;
    z-index: 2;
    color: #00112e;
    display: none;
}

.hamburger i {
    display: none;
    height: 2.5rem;
    box-sizing: border-box;
    width: 2.5rem;
}

.hamburger_close{
    color: #1f1c16;
}

.hamburger_open{
    transform: scale(0.7);
    color: #fff;
}

.hamburger_close.hamburger_toggle,
.hamburger_open.hamburger_toggle{
    display: inline-block;
}

.mobile_menu {
    position: absolute;
    top: -2rem;
    right: 0;
    background-color: #00358d;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 3rem;
    transform: translateX(100vw);
    transition: transform 0.3s ease-out;
}

.mobile_menu.open{
    transform: translateX(0)
}

.mobile_menu_primary {
    width: 100%;
    display: flex;
    padding: .875rem 1.5rem;
    order: 1;
    flex-direction: column;
}

.mobile_menu_primary_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
    padding-top: 2.5rem;
}

.mobile_menu_primary_wrapper .nav_header{
    color: white;
}

/* Media Queries */

@media (max-width: 1141px) {
    .navbar_wrapper .secondary {
        display: none;
    }

    .navbar_wrapper .primary .nav_main {
        display: none;
    }

    .navbar_wrapper .primary {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger {
        display: flex;
    }
}